*{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
}

nav{display: flex;
    justify-content: space-between;
    height: 80px;
    background: rgb(166, 189, 212);
align-items: center;
padding: 2%;
}
.name{margin-left: 100px;

    color: darkcyan;
    font-size: 60px;

}
span{color: rgb(255, 136, 0);}

nav ul{
    display: flex;
    
align-items: center;
    
}

nav li{
list-style: none;
margin-left: 50px;

}

nav a{
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    color: darkslategray;

}

.button{background: wheat;

padding: 10px 30px ;
font-size: 20px;
color: grey;

}
.banner{
    background: rgb(144, 169, 179);
}

.banner1{display: flex;


background-image: url(images/header_bg.png);
background-repeat: no-repeat;
background-position: right bottom;
}

.banner2{

padding: 90px;


}
h3{
    font-size: 50px;
    color: darkolivegreen;
}
.h1{font-size: 100px;
    color: darkslategrey;
}
p{
    font-size: 1.4rem;
    width: 50%;
    margin-bottom: 30px;
    color: rgb(92, 65, 65);
}

.title{
    color: darkgray;
    
    text-align: center;
     font-size: 7rem;
    background: rgb(110, 131, 139);

}

.my-details{display: flex;
     gap:60px; background-color: rgb(203, 211, 189);
      padding: 5%;
    }






@media screen and (max-width:576px) {
    nav{
        height: auto;
    }

    nav, .banner1, .my-details{
        flex-direction: column;
    }
    .h1{
        font-size: 80px;
    }
    nav > ul > li{
        margin-left: 0;
       
        padding-left: 0px;
        text-align: center;
        
    }
    .button{
       font-size: 10px;
       padding: 5px 0px;
      
    }

    p{
     width: 100%;
     margin-bottom: 20px;
    }

    .title{
        font-size: 30px;
    }
    .name{
        margin-left: 20px;
    }
    
}













